*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height:15vh;
    gap:40px;
}
nav li{
    font-size:20px;
    font-family:  'Orbitron', sans-serif;
    font-weight: 400;
}
nav li img{
    height:40px;
    position:relative;
    right:31vh;
}
nav .home{
    content:"-";
    font-weight:bold;
    text-decoration:underline;
    /* text-decoration-skip-ink:auto; */
}
nav .search{
    position:relative;
    left:35vh;
    height:35px;
    width:130px;
    border-radius: 10px;
    font-size:20px;
    background-color: #fff;
    border-width: 3px;
    color:grey;
}
nav .search_icon svg{
    /* content:"'\1F50D'"; */
    /* height:10px; */
    width:20px;
    font-size:10px;
    position:relative;
    left:39vh;
    top:2px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftmain{
    width:40%;
    margin-left: 7rem;
}
.leftmain .image{
    height:70vh;
    position:absolute;
    bottom:100px;
    /* left:20px; */
}
.leftmain .squares{
    height:40vh;
    margin-top:38vh;
    margin-left:25vh
   
}
.rightmain{
    width:70%;
    text-align: center;
}
.rightmain #globe{
    height: 60px;
    position:relative;
    right:30vh;
     bottom:130px;
}
.rightmain #first_star{
    height:60px;
 position:relative;
left:40vh;
bottom:80px;

}
.rightmain h1{
    font-size:55px;
    position:relative;
    bottom:45px;
    font-family:  'Orbitron', sans-serif;
}
.rightmain p{
    font-size:18px;
    color:grey;
    text-align: center;
    margin-left:20vh;
    width:40rem;
}
.rightmain button{
    margin-top:40px;
    height:30px;
    border-radius: 9px;
    font-family:  'Orbitron', sans-serif;
}
.rightmain .Email{
    
    font-size:17px;
    width:24vh;
    
    background-color: #fff;
    color:grey;
}
.rightmain .Join{
    font-size:18px;
    width:17vh;
    background-color: #000;
    color:#fff;
    font-weight: 500;
}
.rightmain  #contact{
    /* margin-top:30px; */
    position:relative;
    top:70px;
    font-size:17px;
    font-weight: 450;
    color:rgb(85, 84, 84);
    font-family: 'Poppins', sans-serif;
}
.rightmain footer img{
    /* gap:10; */
    margin-right: 15px;
    height:35px;
    position:relative;
    top:90px;
    /* display:flex; */
    /* justify-content: space; */
}
.rightmain .footer_star{
    position:relative;
    right:40vh;
    top:50px;
    /* bottom:70px; */
}