*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image:url(./image/bg.png);
background-repeat: no-repeat;
background-attachment: fixed; 
background-size: 100% 100%;
}
nav{
    background-color: black;
    color:#ffff;
    display:flex;
    align-items: center;
    height:65px;
    
}
nav li{
    list-style-type: none; 
    margin-left:60px;
}
nav li img{
    height:30px;
}
.line{
    height:50px;
    content:'';
    position:relative;
    bottom:2px;
    color: #fff;
    background-color: #fff;
    padding:0.02rem;
    display:block
}
.downward::after{
    content:'\2304';
    position:relative;
    left:10px;
    bottom: 5px;
    font-size: 20px;
}
nav li button{
    position:relative;
    left:60vh;
    border:none;
    border-radius: 5px;
    background-color:rgb(186, 0, 211);
    color:#ffff;
    font-weight: bold;
    height:35px;
    width:16vh;
}
.main{
margin-top:10vh;
display: flex;
text-align: center;
justify-content:center;
align-items:center;
color:white;


}
div h1{
    font-family:'Montserrat',sans-serif;
    font-size:76px;
    width:120vh;
    position:relative;

}
div p{

    margin-top:5px;
    font-size: 23px;;
    font-weight:50px;
}
div button{
    border: none;
    border-radius: 5px;
    background-color: rgb(186, 0, 211);
    color:#ffff;
    margin-top:40px;
    font-size: 20px;
    font-weight: bold;
    height:50px;
    width:33vh;
}