*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
    margin-left:10vh;
    margin-right:10vh;
}
nav{
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    align-items: center;
    height:10vh;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
    list-style: none;
    padding-left:40vh;
    font-weight: bold;
    font-size: 15px;
}
nav img{
    height:30px;
}
nav button{
    height:40px;
    width:15vh;
    background-color: #262626;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 7px;
}
.sec1{
    display: flex;
    justify-content: space-around;
}
.sec1 div{
    width:43%;
}
.sec1-boat{
    position: relative;
    left:16vh;
    bottom:10vh;
    height:65vh;
}
.sec1 div{
    gap:20px;
    margin-top:20px;
}
.sec1 div h1{
    padding-top:10px;
    font-size:50px;
    font-weight: bolder;
}
.sec1-p-over{
    font-weight: bold;
    padding-top:30px;
    font-size:20px;
}
.sec1-p-enjoy{
    padding-top:20px;
    width:50vh;
    font-size: 15px;;
    color: #cfcdcd;


}
.sec1 div button{
    margin-top:40px;
    height:50px;
    width:30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size:17px;
    background-color: #232222;
    color: #fff;
    border: none;
    border-radius: 10px;
}
.sec1 div button span{
    font-weight: bolder;
}
.sec2{
    height:20vh;
    display:flex;
    justify-content:center;
    gap:20vh;
    align-items: center;
}

.sec3{
  margin-top: 20vh;
  height:80vh;
}
#sec3-specs-logo{
    padding-left:40%;
    padding-bottom: 5vh;
}
.sec3-top{
    display: flex;
    justify-content: center;
    gap:30px;
    align-items: center;
}
.sec3-top-left{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.sec3-top-left p{
    width:20vh;
}
.sec3-p{
    color: #cfcdcd;
}
.sec3-img-name{
    font-weight: bolder;
    font-size: 17px;
    color: #fff;
}
.sec3-top-left-mid{
    position: relative;
    right:30px;
}

.sec4{
    height:90vh;
}
#sec4-case-logo{
    padding-left:45%;
    padding-bottom: 5vh;
}
.sec4-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10vh;
}
.sec4-top-right{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.sec4-top-right p{
    width:32vh;
    font-size: 15px;
    color: #cfcdcd;
}
.sec4-top-right button{
    
    height:40px;
    width:20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #232222;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size:15px;
}

.sec5{
    background-color: #1c1b1b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:55vh;
    gap:10vh;
    margin-left: 20vh;
    margin-right: 20vh;
    border-radius: 10px;
}
.sec5-buynow-img{
    height:40vh;
}
.sec5-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:43vh;
    gap:20px;
}
.sec5-left h1{
    font-size: 35px;
}
.sec5-left p{
    font-size: 17px;
    color: #cfcdcd;
}
.sec5-left button{
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:50px;
    font-size: 17px;
    cursor: pointer;
    width:20vh;
}
.sec6{
    margin-left:30vh;
    margin-right: 30vh;
    margin-top: 10vh;
}
.sec6-product-container{
    display:grid ;
    grid-template-columns: repeat(3,0fr);
    column-gap: 10vh;
    row-gap: 5vh;
    justify-content: center;

}
.sec6-products{
    height:30vh;
}
#sec6-product-logo{
    padding-left:30%;
    display: flex;
    flex-wrap: wrap;
}
.sec6-headphones{
  height:15vh;
  position: relative;
  top:10vh;
  left:25px;
}
.sec6-headphones-info{
    background-color: #1c1c1c;
    height:19vh;
    width:19vh;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding:10px;
    border-radius: 5px;;
}
.sec6-headphones-info p{
    font-size: 13px;
}
.sec6-headphone-num{
    color:#cfcdcd;
}
.sec6-color{
  font-weight: bold;
}
.sec6-headphones-info button{
    background-color: #000;
    border: none;
    border-radius: 2px;
    height:35px;
    width: 35px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top:20vh;
    height:50vh;
}
.footer-cols{
    display: flex;
    flex-direction: column;
    gap:20px;
}
#footer-beats-logo{
    height:40px
}
.footer-cols p{
    font-size: 15px;
    color: #cfcdcd;
}
.footer-ps{
    font-weight: bold;
}
.footer-email-sub{
    display: flex;
    justify-content:center;
    gap:12vh;
    align-items: center;
    background-color: #232222;
    height:50px;
    width:35vh;
    border-radius: 5px;;
}
.footer-email-sub button{
    background-color: #000;
    border: none;
    border-radius: 5px;
    height:38px;
    width:15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.footer-socials{
    margin-top:20px;
    height:30px;
    display: flex;
    gap:15px;
}
#footer-uparrow{
    position:absolute;
    right:0px;
    cursor: pointer;
}