*{
    /* font-family:,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 40px;
}
nav li {
    margin-left: 70px;
    color:rgb(159, 159, 159)
}
#home{
    color:black
}
nav li img{
    height:30px;
}
nav button{
    position:relative;
    left:70vh;
    border: none;
    background-color: rgb(96, 84, 175);
    border-radius: 7px;
    color:#ffff;
    height:45px;
    width:15vh;
}
.main{
    display:flex;
    align-items: center;
    justify-content: center;
}
.leftmain{
    width:40%;
    position:relative;
    /* right:40px; */
    left:20px;

}
.leftmain h1{
    font-size:70px;
    /* height:60px; */
    /* width:80vh; */
    margin-top:100px;
    color:rgb(44, 2, 82)
}
#crush{
    color:rgb(96, 84, 175);
}
.leftmain p{
   color:rgb(149, 148, 148);
   /* font-size:20px; */
   position:relative;
   bottom:15px;
   width:45vh;
   /* margin-bottom: 50px;; */
   /* margin-bottom: 50px; */
}
.leftmain button{
    border:none;
    background-color:rgb(96, 84, 175) ;
    color:#ffff;
    font-size: 15px;
    border-radius: 7px;
    height:45px;
    width:23vh;
    margin-top: 20px;
}
.rightmain img{
    position:relative;
    top:40px;
    left:70px;
    height:75vh;
    width:110vh;
}
