*{
    font-family: Bahnschrift Light,'Courier New', Courier, monospace;
}
body{
    background-color: rgb(238, 247, 247);
    position:fixed;
}
nav{

    display:flex;
    align-items: center;

}
nav li{
    list-style-type: none;
    margin-top:20px;
}
nav li img{

    margin-left:40px;
    height:60px;
}
 .rightnav{
    display:flex;
    justify-items:flex-end;
    gap:70px;
    padding-left:90vh;
    
    font-size:17px;
    font-weight:bold;
    margin-left:1px;
 }
 #rleftnav{
    color:#3CB371;
 }
.middle{
 
    display:flex;
    justify-content: center;
    align-items: center;
}
.leftmid{
    margin:0 15% 0 8%;
    margin-top:50px;
    position:relative;
    left:60px;
}
.leftmid h1{
    font-size:85px;
    font-weight:bolder;
    margin-top:10px;
    font-family: Bahnschrift ;
    margin-bottom:20px;
    padding-right:100px;
}
.leftmid p{
    font-size:21px;
    width:100vh;
    font-weight:lighter;
    color:#7d7979;
    padding-right:100px;
    padding-top:20px ;
}
.leftbottom button{
    border:none;
    border-radius: 50px;
    height:70px;
    color:white;
    font-weight:bold;
    background-color: #4eba7e;
    width:50vh;
    font-size: 27px;
    
}
.botangle{
    margin-left:290px;
    top:30px;
    padding-bottom:10px;
}
.stethoscope{
    position:absolute;
    height:91vh;
    width:90vh;
    left:250px;
    bottom:-7vh;
}
.mouse{
    position:relative;
    left:30px;
    top:35px;
}
.rightmid{
    margin-right: 105px;
}
.under{
    height:68vh;
    width:67vh;
    position:relative;
    top:7vh;
    bottom:0vh;
    right:3vh;
}
.undermid{
    height:58vh;
    width:58vh;
    position:absolute;
    bottom:24px;
    right:-1vh;
}
.doctor{
    height:90vh;
    width:65vh;
    position:absolute;
    bottom:-38px;
    right:2vh;
}

